.header {
  margin: 0;
  height: 70px;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid silver;
  background-color: #333;
  color: #fff;
  line-height: 70px;
}

.container {
  display: flex;
}

a {
  color: aqua;
  text-decoration: none;
}
